// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../themes/contrib/bootstrap5/scss/style';


$cebaf-yellow: #ffffeb;

// Local style rules
.site-logo-bg{
  background-color: black;
  width:100%;
}

.sidebar-img {
  width:100%;
  max-width: 400px;
  object-fit: contain;
}

.region-sidebar-second > .block-block-content,
.region-sidebar-first > .block-block-content {
  background-color: $cebaf-yellow;
}

.table.table-transparent {
  background-color: $cebaf-yellow;
  --bs-table-bg: $cebaf-yellow;
}

.block-block-content h2,
.block-aggregator h2{
  color: #ffffff;
  padding: 0.1em;
  font-size: larger;
  background: #ffffff url(../block_head_gradient_24.png) repeat-x center left;
}


.thumbtable th{
  border: none;
  text-align: left;
  padding-left: 4px;
}

.thumbtitle {
  color: #990000;
  font-weight: bold;
}

.img-shadow {
  float:left;
  background: url("../img/shadowAlpha.png") no-repeat bottom right !important;
  background: url("../img/shadow.gif") no-repeat bottom right;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 5px;
}

.img-shadow img {
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #a9a9a9;
  margin: -6px 6px 6px -6px;
  padding: 4px;
}
